<div class="container">
  <h2 class="text-center myTitle" id="myH2">
    Collection of <span class="categoryTitle">{{ cat }}</span> Books
  </h2>
  <div class="row gy-3">
    <div class="col-sm-4 mt-5" *ngFor="let book of books">
      <div class="card h-100">
        <img class="card-img-top" src="{{ book.image }}" alt="Card image cap" />
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">
              {{ book.remaning_Status }}
            </p>
            <h2>
              {{ book.price | currency: "INR" }}
              <span class="mrp">
                <del>{{ book.price + 200 | currency: "INR" }}</del>
              </span>
            </h2>
            <a
              routerLink="{{ '/books/details/' + book.bookId }}"
              class="btn btn-primary btn-block"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
