.mrp{
    color:#999;
    font-size:22px;
}
.wrapper{
background-color: #fff;
margin-top :100px;
padding:20px;
border-radius: 2.5rem;
}
p{
font-size: 1.4rem;

}
.btn{
    width: 9rem;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    margin-top: 3rem;

}
.myTitle{
    color:plum;
    text-shadow: -1px 1px 0 darkorchid, 1px 1px 0 darkorchid, 1px -1px 0 darkorchid, -1px -1px 0 darkorchid;
}