<app-navbar></app-navbar>
<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-4">
        <img src="{{ book.image }}" class="img-fluid ml-3" alt="" />
      </div>
      <div class="col-lg-8 pl-5">
        <h3 class="myTitle">{{ book.title.toUpperCase() }}</h3>
        <p>Remaining Books on stock : {{ book.remaning_Status }}</p>
        <p>{{ book.description }}</p>
        <br />
        <h2>
          {{ book.price | currency: "INR" }}
          <span class="mrp"
            ><del>
              {{ book.price + 200 | currency: "INR" }}
            </del></span
          >
        </h2>
        <br />

        <div class="d-flex justify-content-between">
          <button (click)="addToCart(book)" class="btn btn-primary btn-block">
            Add to Cart
          </button>
          <button class="btn btn-danger btn-block" [routerLink]="'/'">
            Back to List
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
